:root {
    --main-width: 100%;
    --main-height: 'fit-content';
    --secondary-height: 80%;

    /* Color */
    --border-color: #000;
}

body {
    margin: 0;
    padding: 0;
}

.error {
    color: #FF0000;
}

.btn {
    padding: 0.4rem 2rem !important;
}

.container {
    min-width: var(--main-width);
    height: var(--secondary-height);
    border: 1px solid #000;
}

.head_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 26rem;
}